*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(105, 167, 105);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}

#ptop{
    display: flex;
    padding: 0 30%;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 80px;
    background-color: rgb(57, 141, 57);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 23px;
}

.box{
    padding: 6px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(16, 147, 19);
    font-weight: 700;
    font-size: 22px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 80px);
}

.bubble{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(43, 147, 48, 0.801);
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgba(24, 147, 30, 0.838);
}

#finalScore{
    text-align: center;
    color: green;
    padding: 50px;
    border: 1px solid rgb(0, 105, 0);
}

button{
    padding: 4px 8px;
    color: green;
}

@media (max-width: 768px) {
    #panel {
      width: 90%;
      height: 90%;
    }
    #ptop {
      padding: 0 20%;
    }
    .elem h2 {
      font-size: 18px;
    }
    .box {
      padding: 4px 15px;
      font-size: 18px;
    }
    #pbtm {
      padding: 15px;
    }
    .bubble {
      width: 40px;
      height: 40px;
    }
    #finalScore {
      padding: 30px;
    }
  }
  
  /* Mobile and below */
  @media (max-width: 480px) {
    #panel {
      width: 95%;
      height: 95%;
    }
    #ptop {
      padding: 0 15%;
    }
    .elem h2 {
      font-size: 14px;
    }
    .box {
      padding: 2px 10px;
      font-size: 14px;
    }
    #pbtm {
      padding: 10px;
    }
    .bubble {
      width: 30px;
      height: 30px;
    }
    #finalScore {
      padding: 20px;
    }
  }